<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400, 700,800&display=swap" rel="stylesheet" />
  <link type="Image/x-icon" href="static/favicon-32x32.png" rel="icon">

  {% block css %}  {% endblock %}
  <title>Elctronic elder</title>
</head>

<body>
  <div class="wrapper">


    <header class="header">
      <nav class="menu">
        <div class="block__phone">
        <a href="index.html" class="phone__logo">
          <img src="static/call.png" alt="">
        </a>
          <a href="">8-800 353-3555</a>
          <a href="">Заказать звонок</a>
        </div>
        <div class="block__address">
          <a href="">Москва, Красная площадь, 3, ГУМ</a>
        </div>
        <nav class="block_func">
          <a href="Registr/index.html">Войти</a>
          <a href="">Избраное</a>
          <a href="">Корзина</a>
          <a href="">Поиск</a>
        </nav>
      </nav>

      <nav class="menu__search">
        <a href="index.html" class="header__logo">
          <img src="static/favicon.png" alt="">
        </a>
        <nav class="block__search">
          <a href="">Каталог</a>
          <a href="how_buy.html">Как купить?</a>
          <a href="company.html">О компании</a>
          <a href="contacts.html">Контакты</a>
        </nav>
      </nav>
    </header>

    {% block main %} {% endblock  %}

    <footer class="footer">
      <div class="info__footer">
        <div class="foot">
          <a href="">О компании</a>
        </div>
        <a href="">Салон в ГУМе</a>
        <a href="">Контакты</a>
      </div>
      <div class="info__footer">
        <div class="foot">
          <a href="">Информация</a>
        </div>
        <a href="">Как купить?</a>
        <a href="">Об оплате</a>
        <a href="">О доставке</a>
        <a href="">О гарантии</a>
        <a href="">Возврат и обмен</a>
      </div>

      <div class="info__footer">
        <div class="foot">
          <a href="">Electronic elder</a>
        </div>
        <a href="">Блог</a>
        <a href="">Компания Electronic elder</a>
        <a href="">Сервис</a>
      </div>

      <div class="info__footer">
        <div class="foot">
          <a href="">Наши контакты</a>
        </div>
        <a href="">8-000 800-8000</a>
        <a href="">iebk17@gmail.com</a>
        <a href="">Москва, Красная
          площадь, 3, ГУМ</a>
      </div>
    </footer>
  </div>

</body>

</html>