{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{%static 'catalog_thinkpad.css'%}">
{% endblock  %}

{% block main %}

<main class="main">

    <div class="nav__site">
        <p>Главная - Каталог - Thinkpads</p>
    </div>
    <div class="nav__title">
        <p class="title">Thinkpads</p>
    </div>
    <div class="block__catalog">
        {% comment %} {% for product in products %} {% endcomment %}
        <div class="block__item">
            <img src="data:image/png;base64,{{ bytes }}" alt="">
            <a href="" class="title"> dolboeb </a>
            <br>
            <p> 90000 р.</p>
        </div>
        {% comment %} {% endfor %} {% endcomment %}
    </div>
</main>
{% endblock  %}