{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{%static 'catalog_thinkpad.css'%}">
{% endblock  %}

{% block main %}

<main class="main">

    <div class="nav__site">
        <p>Главная - Каталог - Thinkpads</p>
    </div>
    <div class="nav__title">
        <p class="title">Thinkpads</p>
    </div>
    <div class="block__catalog">
        {% for product in products %}
        <div class="block__item">
            <img src="data:image/png;base64,{{ photo.cleaned_img }}" alt="">
            <a href="" class="title">{{ product.name }} </a>
            <br>
            <p>{{ product.price }} р.</p>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock  %}