{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="static/company.css">
{% endblock  %}

{% block main %}

<main class="main">
    <div class="nav__site">
        <p>Главная - О компании</p>
    </div>
    <div class="main__block">

        <div class="main__text">
            <p class="title">О Компании</p>
            <p class="text">Beoplay Store — онлайн-витрина фирменного магазина Bang & Olufsen в ГУМе. </p>
            <p class="text">Мы являемся авторизованным дилером Bang & Olufsen в России.</p>
            <p class="text">Мы продаем только официально поставляемую в Россию технику Bang & Olufsen и никогда
                не продаем подделки, а также «серую» — неофициально поставленную в Россию технику. Заказывая
                товар на Beoplay Store, вы можете быть уверены в качестве приобретаемой продукции!</p>

            <p class="title">Наши преимущества</p>
            <p class="text">Каталог актуальной техники Bang & Olufsen Beoplay в наличии на складе. Перейти в
                каталог</p>
            <p class="text">Только «белая» техника с полной гарантией. Мы являемся официальным дилером B&O.
                Подробнее о гарантии</p>
            <p class="text"> Наличие товара и возможность демонстрации в фирменном магазине в ГУМе. В фирменном
                магазине Bang & Olufsen в ГУМе всегда можно лично убедиться в качестве товаров и увидеть технику
                в работе, а также забрать и приобрести товар в ГУМе. В наличии портативная аудиотехника Beoplay,
                домашние аудиосистемы Beosound и Beoplay телевизоры Beovision. Подробнее о Салоне</p>
            <p class="text"> Удобная оперативная доставка по России. Подробнее о доставке</p>
            <p class="text"> Различные способы оплаты. Доступна рассрочка на выбор. Об оплате</p>
            <p class="text"> Спроектируем и установим систему домашнего кинотеатра Bang & Olufsen, поможем
                создать мультирум, создадим и реализуем проект озвучивания помещения.</p>
            <p class="text"> Грамотные специалисты, имеющие большой опыт работы не только с брендом B&O, но и с
                другой аудио-, видеотехникой класса Hi-Fi и High End. Наши менеджеры не просто продавцы, они
                отлично разбираются в представленном ассортименте, регулярно проходят обучение по продукции,
                знают о всех возможностях техники и смогут помочь вам с выбором.</p>

        </div>
        <nav class="navigation__page">
            <a>О компании</a>
            <a>Салон в ГУМе</a>
            <a>Контакты</a>
        </nav>
    </div>
</main>

{% endblock  %}