{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="static/contacts.css">
{% endblock  %}

{% block main %}

<main class="main">
    <div class="block__yandex">

        <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A73c30df9bab9d1c185c334222ae8a4044b607f536bde6c8b96f702ffd8196288amp;lang=en_FR&amp;scroll=true">
        </script>
    </div>
    <div class="info__contacts">
        <p class="title">BeoPlay Store
            <br>
            онлайн-витрина фирменного магазина Bang&Olufsen в ГУМе
        </p>
        <p class="text">Телефон интернет-магазина Beoplay Store: 8 (800) 350-1283
            Бесплатно для вызовов по России!
            <br>
            Время работы
            Будни: с 10:00 до 20:00
            Выходные: с 11:00 до 19:00
        </p>
        <p class="title">
            Фирменный Салон B&O в ГУМе
        </p>
        <p class="text">
            Мы открыты каждый день с 10:00 до 22:00
            <br>
            телефон: +7 (495) 933-8553
            <br>
            Адрес: Москва, Красная площадь, 3, 3-й этаж, 3-я линия.
        </p>
    </div>
</main>

{% endblock  %}