<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="how_buy.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400, 700,800&display=swap" rel="stylesheet" />
  <link rel="shortcut icon" href="favicon.png" type="image/png">
  <title>Elctronic elder</title>
</head>

<body>
  <div class="wrapper">


    <header class="header">
      <nav class="menu">
        <div class="block__phone">
          <a href="">8-800 353-3555</a>
          <a href="">Заказать звонок</a>
        </div>
        <div class="block__address">
          <a href="">Москва, Красная площадь, 3, ГУМ</a>
        </div>
        <nav class="block_func">
          <a href="">Войти</a>
          <a href="">Избраное</a>
          <a href="">Корзина</a>
          <a href="">Поиск</a>
          <a href="">Регистрация</a>
        </nav>
      </nav>

      <nav class="menu__search">
        <a href="index.html" class="header__logo">
          <img src="favicon.png" href="index.html" alt="">
        </a>
        <nav class="block__search">
          <a href="">Каталог</a>
          <a href="">Акции</a>
          <a href="">Как купить?</a>
          <a href="">О компании</a>
          <a href="">Контакты</a>
        </nav>
      </nav>
    </header>
    <main class="main">
      <div class="nav__site">
        <p>Главная - Как купить в Electronic elder</p>
      </div>
      <div class="main__block">

        <div class="main__text">
          <p class="title">Как купить</p>
          <p class="title">Как купить на Electronic elder</p>
          <p class="text">Вы можете воспользоваться одним из следующих способов:</p>
          <li>заказать товар на сайте;</li>
          <li>позвонить по телефону для оформления заказа;</li>
          <li>купить товар в фирменном магазине Beoplay в ГУМе.</li>
          <p class="title">Заказ товара на сайтe</p>
          <p class="text">Вы можете выбрать товары в каталоге на сайте и оформить заказ онлайн 24 часа в сутки 7 дней в
            неделю.</p>
          <p class="text">Выберите понравившийся товар на сайте. На карточке товара вы увидите информацию о наличии
            товара. Нажмите кнопку «Купить», после чего товар переместится в корзину. После добавления товара в корзину
            кнопка «Купить» поменяется на «В корзине», нажав на которую, вы сможете сразу же оказаться на странице
            корзины. Вы можете сразу оформить заказ, либо продолжить покупки и положить в корзину ещё один или несколько
            товаров.</p>
          <p class="text">При нажатии на значок «Корзина» вы в любой момент можете оказаться на странице корзины,
            просмотреть товары в корзине и оформить заказ.</p>
          <p class="text">Для оформления заказа вы можете нажать на кнопку «Оформить заказ» на странице корзины и
            перейти
            к последовательному выбору способа доставки, оплаты, а также вводу своих данных. После заполнения каждого
            раздела нажимайте на кнопку «Далее» для перехода к следующему разделу. Указав все необходимые данные,
            нажмите
            на кнопку «Оформить заказ», после чего информация о вашем заказе будет отправлена. В кратчайшие сроки наш
            специалист свяжется с вами для подтверждения заказа.</p>
          <p class="text">Для быстрого оформления заказа вы можете нажать на кнопку «Быстрый заказ» на странице корзины,
            ввести необходимые данные в появившемся поле и нажать на кнопку «Отправить», после чего информация о вашем
            заказе появится у наших менеджеров, которые свяжутся с вами в кратчайшие сроки, обсудят все детали и оформят
            заказ.</p>
          <p class="text">Для оформления заказа вы также можете нажать на кнопку «Купить в 1 клик» на странице товара,
            заполнить необходимые поля и нажать кнопку «Отправить», после чего информация о вашем заказе появится у
            наших менеджеров, которые свяжутся с вами в кратчайшие сроки, обсудят все делали и оформят заказ. </p>
          <p class="title">Заказ товара по телефону</p>
          <p class="text">Вы можете просто позвонить нам по телефону: 8 (800) 333-2152.</p>
          <p class="text">Наши специалисты внимательно выслушают ваши пожелания, помогут с выбором, проконсультируют по
            всем вопросам, связанным с техническими и потребительскими свойствами товаров, проинформируют о том, как
            оплатить и получить товар, и сразу же смогут оформить ваш заказ.</p>
        </div>
        <nav class="navigation__page">
          <a>Оплата</a>
          <a>Доставка</a>
          <a>Гарантия</a>
          <a>Возврат и обмен</a>
        </nav>
      </div>
    </main>

    <footer class="footer">
      <div class="info__footer">
        <div class="foot">
          <a href="">О компании</a>
        </div>
        <a href="">Салон в ГУМе</a>
        <a href="">Контакты</a>
      </div>
      <div class="info__footer">
        <div class="foot">
          <a href="">Информация</a>
        </div>
        <a href="">Как купить?</a>
        <a href="">Об оплате</a>
        <a href="">О доставке</a>
        <a href="">О гарантии</a>
        <a href="">Возврат и обмен</a>
      </div>

      <div class="info__footer">
        <div class="foot">
          <a href="">Electronic elder</a>
        </div>
        <a href="">Блог</a>
        <a href="">Компания Electronic elder</a>
        <a href="">Сервис</a>
      </div>

      <div class="info__footer">
        <div class="foot">
          <a href="">Наши контакты</a>
        </div>
        <a href="">8-000 800-8000</a>
        <a href="">iebk17@gmail.com</a>
        <a href="">Москва, Красная
          площадь, 3, ГУМ</a>
      </div>
      <div class="block__footer">

        <a href="" class="logo__card"></a>
      </div>
    </footer>
  </div>

</body>

</html>