{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="static/style.css">
{% endblock  %}

{% block main %}

<main class="main">
  <div class="media__nav">
    <div class="gallery">
      <img src="media/Delete.png">
    </div>
    <div class="info__gallery">
      <li>Только оригинальная техника</li>
      <li>В наличии</li>
      <li>Быстрая доставка</li>
      <li>Бесплатная доставка</li>
    </div>
  </div>
  <div class="nav__card">
    <p>Адрес магазина</p>
    <a href="">перейти в раздел</a>
  </div>
  <div class="yandex__card">
    <div class="block__card_info">
      <a href="">
        Bang & Olufsen в ГУМе,
        Москва, Красная площадь, 3,
        3-й этаж, 3-я линия.
      </a>
      <p>РЕЖИМ РАБОТЫ</p>
      <p>Ежедневно с 10:00 до 22:00</p>
    </div>
    <div class="block__yandex">

      <script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A73c30df9bab9d1c185c334222ae8a4044b607f536bde6c8b96f702ffd8196288amp;lang=en_FR&amp;scroll=true">
      </script>
    </div>
  </div>
  <div class="block__sale">
    <div class="nav__card">
      <p>Акции</p>
      <a href="">Все акции</a>
    </div>
    <div class="nav__sale_card">
      <img src="media/delete2.png">
    </div>
  </div>
</main>

{% endblock  %}